.product-list{
    padding-top: 50px;
    text-align: center;
    width: 100%;
    background: #ffffff;
    
}
.product-list .Content .title-content{
    font-weight: bold
}
.product-list .Content{
    width: 18rem;
    margin: 10px 30px 50px;
    text-align: left;
    display: inline-block;

    box-shadow: 1px 5px 10px #cccccc;
}
.product-list .Content:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:  all 0.4s linear;
    opacity: 0.9;
}
.product-list .Content .description-content{
    color: #858180;
    
    
}
.product-list .Content .button{
    margin: 10px 0 10px 35px;

}

.product-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: default
}
.product-list .actions button:hover{
    opacity: 0.7;
}